mixin accept(data)
    section.accept
        .accept__in.in
            h2.accept__title.title.title_h2 Нотариус точно примет документы
            .accept__text Наши отчеты полностью соотвествуют законодательству РФ
            ul.accept__list
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-1.png", alt="")
                    .accept__item-text Деятельность оценщиков подтверждена квалификационными аттестатами
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-2.png", alt="")
                    .accept__item-text Включены в реестр экспертов-техников Министерства Юстиции РФ
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-3.png", alt="")
                    .accept__item-text Все эксперты имеют профильное высшее техническое образование(МАДИ)
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-4.png", alt="")
                    .accept__item-text Являемся участниками саморегулируемой организации профессиональных оценщиков
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-5.png", alt="")
                    .accept__item-text Дипломированные эксперты-техники Московского Университета Машиностроения (МАМИ)
                li.accept__item
                    .accept__image
                        img(src="assets/images/general/accept-image-6.png", alt="")
                    .accept__item-text Полностью соответствуем требованиям нотариусов РФ