mixin reviews(data)
  .reviews
    .reviews__container(class="uk-container")
      
      .reviews__slider-w
        .reviews__nav
          .reviews__count
        .reviews__slider
          .reviews__item
            .reviews__item-in(class="uk-flex uk-flex-start uk-flex-wrap") 
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m ")
                .reviews__images(class="uk-flex uk-flex-start") 
                  .reviews__image
                    img(src="assets/images/content/before-image.jpg", alt="")
                    .reviews__badge
                      .reviews__badge-text До
                  .reviews__image
                    img(src="assets/images/content/after-image.jpg", alt="")
                    .reviews__badge 
                      .reviews__badge-text После
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m ")
                .reviews__title.title.title_regular <span>Отзывы</span> наших пациентов
                .reviews__name Пациент Василий:
                .reviews__text У меня не было трёх передних зубов. Из-за этого меня не брали на работу. Я пришел в клинику в отчаянии и без денег. И мне сделали рассрочку и установили новые зубы за 2 дня. Теперь я счастлив. У меня новая работа, жена и любовница. Спасибо вашей клинике!

          .reviews__item
            .reviews__item-in(class="uk-flex uk-flex-start uk-flex-wrap") 
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m ")
                .reviews__images(class="uk-flex uk-flex-start") 
                  .reviews__image
                    img(src="assets/images/content/before-image.jpg", alt="")
                    .reviews__badge
                      .reviews__badge-text До
                  .reviews__image
                    img(src="assets/images/content/after-image.jpg", alt="")
                    .reviews__badge 
                      .reviews__badge-text После
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m ")
                .reviews__title.title.title_regular <span>Отзывы</span> наших пациентов
                .reviews__name Пациент Василий:
                .reviews__text У меня не было трёх передних зубов. Из-за этого меня не брали на работу. Я пришел в клинику в отчаянии и без денег. И мне сделали рассрочку и установили новые зубы за 2 дня. Теперь я счастлив. У меня новая работа, жена и любовница. Спасибо вашей клинике!

          .reviews__item
            .reviews__item-in(class="uk-flex uk-flex-start uk-flex-wrap") 
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m")
                .reviews__images(class="uk-flex uk-flex-start") 
                  .reviews__image
                    img(src="assets/images/content/before-image.jpg", alt="")
                    .reviews__badge
                      .reviews__badge-text До
                  .reviews__image
                    img(src="assets/images/content/after-image.jpg", alt="")
                    .reviews__badge 
                      .reviews__badge-text После
              .reviews__col(class="uk-width-1-1@s uk-width-1-2@m ")
                .reviews__title.title.title_regular <span>Отзывы</span> наших пациентов
                .reviews__name Пациент Василий:
                .reviews__text У меня не было трёх передних зубов. Из-за этого меня не брали на работу. Я пришел в клинику в отчаянии и без денег. И мне сделали рассрочку и установили новые зубы за 2 дня. Теперь я счастлив. У меня новая работа, жена и любовница. Спасибо вашей клинике!


        
