mixin certificate(data)
  .certificate.lazy(data-bg="url('assets/images/general/certificate-bg.jpg')")
    .certificate__container(class="uk-container")
      .certificate__w(class="uk-flex uk-flex-start uk-flax-wrap") 
        .certificate__col(class="uk-width-1-1@s uk-width-1-2@m")
          .certificate__top Хотите сделать кому-то <br/>ДЕЙСТВИТЕЛЬНО ПОЛЕЗНЫЙ подарок?
          h2.certificate__title.title.title_regular Подарите <span>СЕРТИФИКАТ НА ИМПЛАНТАЦИЮ</span>
          .certificate__text Проблемы с зубами есть у всех. Но не все готовы обращаться за их устранением по разным причинам. И подарив такой сертификат - это будет в сотни раз ценнее, чем никому не нужные сувениры или ювелирные украшения.
          a.certificate__button.button.button_regular(href="#") Приобрести сертификат
        img.certificate__image(src="assets/images/general/certificate-image.png", alt="")
