mixin addresses(data)
    section.addresses
        .addresses__in.in
            h2.addresses__title.title.title_h2 Наши адреса:

            .addresses__address-w
                .addresses__address-content
                    h3.addresses__address-title Офис в Строгино
                    .addresses__subway-w
                        .addresses__subway
                            .addresses__subway-icon(style="background-color: #29abe2;") м
                            | метро Строгино
                        .addresses__subway 
                            .addresses__subway-icon(style="background-color: #aa13fe;") м
                            | метро Щукинская

                    .addresses__address г. Москва, ул. Твардовского, 18, к. 2

                    .addresses__list-title Проводимые экспертизы:

                    ul.addresses__list
                        li.addresses__item Оценка ущерба (наружный осмотр)
                        li.addresses__item Экспертиза скрытых дефектов (разборка и диагностика)
                        li.addresses__item Независимая экспертиза после ДТП
                        li.addresses__item Оценка рыночной стоимости автомобиля (для нотариуса, при разделе имущества, для суда)


                #map-1.addresses__address-map

                .addresses__show-w
                    a.addresses__show-map(href="#") показать на карте



            .addresses__address-w
                .addresses__address-content
                    h3.addresses__address-title Офис в МАДИ (м. Аэропорт)
                    .addresses__subway-w
                        .addresses__subway
                            .addresses__subway-icon(style="background-color: #7ed321;") м
                            | метро Аэропорт
                        

                    .addresses__address г. Москва, Ленинградский проспект, д. 64 МАДИ, Лаборатория «Кафедры автомобилей»

                    .addresses__list-title Проводимые экспертизы:

                    ul.addresses__list
                        li.addresses__item Оценка ущерба (наружный осмотр)
                        li.addresses__item Экспертиза скрытых дефектов (разборка и диагностика)
                        li.addresses__item Независимая экспертиза после ДТП
                        li.addresses__item Пожаротехническая экспертиза автомобиля (определение причины возгорания)


                #map-2.addresses__address-map

                .addresses__show-w
                    a.addresses__show-map(href="#") показать на карте


            .addresses__address-w
                .addresses__address-content
                    h3.addresses__address-title Офис на Проспекте Мира
                    .addresses__subway-w
                        .addresses__subway
                            .addresses__subway-icon(style="background-color: #f59623;") м
                            | метро Алексеевская
                        

                    .addresses__address г. Москва, ул. Твардовского, 18, корпус 2

                    .addresses__list-title Проводимые экспертизы:

                    ul.addresses__list
                        li.addresses__item Оценка ущерба (наружный осмотр)
                        li.addresses__item Экспертиза скрытых дефектов (разборка и диагностика)
                        li.addresses__item Независимая экспертиза после ДТП
                        li.addresses__item Оценка рыночной стоимости автомобиля (для нотариуса, при разделе имущества, для суда)

                    

                #map-3.addresses__address-map
                
                .addresses__show-w
                    a.addresses__show-map(href="#") показать на карте

