mixin why(data)
  .why
    img.why__image.lazy(data-src="assets/images/general/why-image.jpg", alt="")
    .why__container(class="uk-container")
      h2.why__title.title.title_regular Почему стоит <span>выбрать нас?</span>

      ul.why__list.list(class="uk-width-1-1@s uk-width-1-2@m")
        li.why__item
          .why__item-title Процедура БЕЗБОЛЕЗНЕННАЯ
          .why__text Рассказываем что вы придете, вам всё заморозят и вы ничего не почувствуете. Можно добавить что пациенты даже засыпают во время процедуры, т.к. всё происходит в комфортной обстановке
        li.why__item
          .why__item-title Можно в РАССРОЧКУ
          .why__text Предоставляем рассрочку от банков-партнеров за 10 минут. Без первоначального взноса! <span>Запишитесь на новый зуб прямо сегодня, <br/>даже если у вас нет денег!</span>
        li.why__item
          .why__item-title Даем ГАРАНТИЮ
          .why__text Расписываем гарантию: На импланты — 15 лет. Показываем лицензию/сертификаты
      a.why__button.button.button_biggest(href="#") Хочу бесплатный осмотр