mixin faq(data)
  section.faq
    .faq__container.container(class="uk-container")
      h2.faq__title.title.title_regular Частые <span>вопросы</span> от пациентов

      ul.faq__list(uk-accordion)
        li.faq__item
          a.faq__item-title.uk-accordion-title(href='#') 1. Почему у конкурентов дешевле?
          .faq__text.uk-accordion-content
            p Это процедура, при которой в кость челюсти вживляют особое приспособление – имплант. Благодаря имплантации человек сегодня может восстановить совершенно любое количество утраченных зубов – один или все сразу.
        li.faq__item 
          a.faq__item-title.uk-accordion-title(href='#') 2. Когда можно есть?
          .faq__text.uk-accordion-content
            p Это процедура, при которой в кость челюсти вживляют особое приспособление – имплант. Благодаря имплантации человек сегодня может восстановить совершенно любое количество утраченных зубов – один или все сразу.

        li.faq__item
          a.faq__item-title.uk-accordion-title(href='#') 3. Сколько будет служить?
          .faq__text.uk-accordion-content
            p Это процедура, при которой в кость челюсти вживляют особое приспособление – имплант. Благодаря имплантации человек сегодня может восстановить совершенно любое количество утраченных зубов – один или все сразу.

        li.faq__item
          a.faq__item-title.uk-accordion-title(href='#') 4. А точно не будет больно?
          .faq__text.uk-accordion-content
            p Это процедура, при которой в кость челюсти вживляют особое приспособление – имплант. Благодаря имплантации человек сегодня может восстановить совершенно любое количество утраченных зубов – один или все сразу.
