.implantation {
  position: relative;
  &__title {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: -60px;
    color: $turq;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    @include mq($small) {
      margin-left: 0;
      font-size: 21px;
    }
  }
  &__image {
    margin-top: -30px;
    margin-right: 160px;
    min-height: 517px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq($medium) {
      max-width: 100%;
      width: 100%;
      min-height: 417px;
      display: flex;
      flex-direction: column;
    }

  }

  &__kind {
    position: absolute;
    padding-top: 37px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    max-width: 270px;
    width: 100%;
    // opacity: .99;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.12);
    @include mq($medium) {
      position: relative;
      max-width: 100%;
      margin-bottom: 30px;
    }
    &:before {
      position: absolute;
      z-index: 0;
      top: 8px;
      right: 8px;
      left: 8px;
      bottom: 8px;
      content: "";
      display: block;
      background: #fff;
      border: 1px dashed #454545;
      border-radius: 10px;
      opacity: .3;
   }
  }

  &__kind-w {
    position: relative;
    z-index: 1;
  }

  &__kind_first {
    top: 73px;
    left: 0px;
    @include mq($medium) {
      top: 0;
      margin-top: 60px;
    }
  }

  &__kind_second {
    top: 190px;
    right: 30px;
    @include mq($medium) {
      top: 0;
      right: 0;
    }
  }

  &__kind-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  &__kind-text {
    font-size: 16px;
    font-weight: 300;
  }
}

