mixin how(data)
  .how
    .how__container(class="uk-container uk-flex uk-flex-wrap ")
      .how__col(class="uk-width-1-1@s uk-width-1-2@m ")
        .how__image
          img.lazy(data-src="assets/images/content/how-image.jpg" alt='')

          .how__play.play.play_big
            a.play__button(href="#") Play
            .play__text Узнайте о процедуре подробнее

      .how__col(class="uk-width-1-1@s uk-width-1-2@m ")
        h2.how__title.title.title_regular Как будет проходить процедура <span>и что вы получите в итоге</span>
        
        .how__text.text Вы придете. Вам проведут осмотр, сделают рентген. Далее врач определит какой вид имплантации Вам больше подходит. Процедура длится <span>не более 1 часа!</span>

        .how__list-w
          .how__list-title В итоге вы получите:
          
          ul.how__list.list(class="uk-flex uk-flex-wrap ")
            li.how__list-item(class="uk-width-1-1@s uk-width-1-2@m ") снимок
            li.how__list-item(class="uk-width-1-1@s uk-width-1-2@m ") установку коронки
            li.how__list-item(class="uk-width-1-1@s uk-width-1-2@m ") плюс чай с шоколадкой 
            li.how__list-item(class="uk-width-1-1@s uk-width-1-2@m ") имплант
            li.how__list-item(class="uk-width-1-1@s uk-width-1-2@m ") гарантию 

        .how__summary Домой Вы уйдете с новым зубом, который будет <br/>служить Вам долгие годы!



