mixin clients(data)
    section.clients
        .clients__in.in
            h2.clients__title.title.title_h2 Наши клиенты
            
        ul.clients__list
            li.clients__item
                .clients__image
                    img(src="assets/images/content/client-1.png", alt="")
            li.clients__item
                .clients__image
                    img(src="assets/images/content/client-2.png", alt="")
            li.clients__item
                .clients__image
                    img(src="assets/images/content/client-3.png", alt="")
            li.clients__item
                .clients__image
                    img(src="assets/images/content/client-4.png", alt="")
            li.clients__item
                .clients__image
                    img(src="assets/images/content/client-5.png", alt="")