mixin articles(data)
    section.articles
        .articles__in.in
            h2.articles__title.title.title_h2 Полезные статьи
            ul.articles__list
                li.articles__item
                    h3.articles__item-title Как правильно оформить автомобиль в наследство
                    .articles__text Для проведения оценки автомобилей оценщик должен иметь квалификационный аттестат по оценке движимого и имущества, состоять в саморегулируемой организации оценщиков и застраховать свою отвественность. Наши оценщики отвечают всем необходимым требованиям.
                    a.articles__more(href="#") Читать далее

                li.articles__item
                    h3.articles__item-title Как переоформить автомобиль после 
                    .articles__text Да. Копии необходимых разрешительных документов мы прикладываем к отчету об оценке. В конце отчета вы увидите квалификационный аттестат оценщика, полис страхования ответственности и свидетельство о членстве в СРО оценщиков. 
                    a.articles__more(href="#") Читать далее

                li.articles__item
                    h3.articles__item-title Как переоформить автомобиль 
                    .articles__text Да. Копии необходимых разрешительных документов мы прикладываем к отчету об оценке. В конце отчета вы увидите квалификационный аттестат оценщика, полис страхования ответственности и свидетельство о членстве в СРО оценщиков. 
                    a.articles__more(href="#") Читать далее



mixin articles-second(data)
    section.articles.articles_second
        .articles__in.in
            h2.articles__title.title.title_h2 Также вам может понадобиться
            ul.articles__list
                li.articles__item
                    .articles__image
                        img(src="assets/images/content/article-image-1.jpg", alt="")
                    h3.articles__item-title Оценка акций для нотариуса
                    a.articles__link(href="#")

                li.articles__item
                    .articles__image
                        img(src="assets/images/content/article-image-2.jpg", alt="")
                    h3.articles__item-title Оценка оружия для нотариуса
                    a.articles__link(href="#")

                li.articles__item
                    .articles__image
                        img(src="assets/images/content/article-image-3.jpg", alt="")
                    h3.articles__item-title Оценка недвижимости  для нотариуса
                    a.articles__link(href="#")