mixin result(data)
    section.result
        .result__in.in
            h2.result__title.title.title_h2 Что вы получаете в результате?
            .result__text Отчет об оценке, который вы передаете нотариусу
            .result__w
                .result__image
                    img(src="assets/images/general/report-image.png", alt="")
                h3.result__subtitle Отчет об оценке 
                    span содержит:

                ul.result__list
                    li.result__item
                        .result__item-title Итоговую стоимость
                        .result__item-text Рыночную стоимость на дату оценки
                    li.result__item
                        .result__item-title Договор
                        .result__item-text Договор об оказании услуг
                    li.result__item
                        .result__item-title Методологию
                        .result__item-text Описание процесса оценки
                    li.result__item
                        .result__item-title Лицензии
                        .result__item-text Разрешительные документы
                    li.result__item
                        .result__item-title Фотографии*
                        .result__item-text Если проводился осмотр 