mixin rating(data)
  .rating
    .rating__container(class="uk-container")
      h2.rating__title.title.title_regular <span>Рейтинг</span> нашей клиники

      ul.rating__list(class="uk-flex uk-flex-start uk-flex-wrap")
        li.rating__item.rating__item_1
          .rating__icon Яндекс
          .rating__text
            .rating__term Рейтинг
            .rating__desc 4.2 из 5
        li.rating__item.rating__item_2
          .rating__icon Продокторов
          .rating__text
            .rating__term Рейтинг
            .rating__desc 4.32 из 5
        li.rating__item.rating__item_3
          .rating__icon 2gis
          .rating__text
            .rating__term Рейтинг
            .rating__desc 5 из 5
        li.rating__item.rating__item_4
          .rating__icon Zoon
          .rating__text
            .rating__term Рейтинг
            .rating__desc 3.9 из 5
        li.rating__item.rating__item_5
          .rating__icon Blizko
          .rating__text
            .rating__term Рейтинг
            .rating__desc 5 из 5