mixin inherit(data)
    section.inherit
        .inherit__in.in
            .inherit__text.wysiwyg
                h2.inherit__title Как правильно оформить автомобиль в наследство
                p.inherit__subtitle
                    strong Вы узнаете как это сделать из данной статьи

                .inherit__image
                    img(src="assets/images/content/text-image-1.jpg", alt="")
                        

                p Независимая экспертиза скрытых повреждений проводится в условиях автосервиса. Для выявления таких повреждений, проводится демонтаж деталей, препятствующих их осмотру. 

                i Например, при сильном ударе автомобиля в заднюю часть помимо бампера страдают детали, расположенные под ним (задняя панель, усилитель бампера, кронштейны, проводка и т.д.). Для выявления этих повреждений задний бампер демонтируют и проводят осмотр и фотографирование внутренних поврежденных элементов. 


                blockquote
                    p Дополнительный осмотр может быть совмещен с первичным осмотром. 

                p Экспертиза подвески автомобиля проводится поэтапно (метод последовательной замены). При повреждении подвески и элементов рулевого управления сначала фиксируются видимые повреждения деталей. Далее поврежденные детали заменяют. Затем производится замер и регулировка углов установки колес на специальном измерительном стенде («сход-развал»). Если с помощью регулировки невозможно устранить отклонение значений углов от нормативных значений – назначается замена деталей, влияющей на эти показатели. При необходимости процедура повторяется. 

                p При наличии скрытых повреждений/неисправностей в сложных агрегатах, таких как двигатель или коробка передач, проводится дополнительная техническая экспертиза. Агрегат разбирается для выявления скрытых повреждений. Далее с помощью исследований устанавливается наличие причинно-следственной связи внешних повреждений автомобиля и выхода из строя агрегата. Исходя из результатов исследований, назначаются ремонтные воздействия. 

  
                ol
                    li Получение свидетельства о вступлении в наследство
                    li Постановка на учет в ГИБДД