mixin licenses(data)
    section.licenses
        .licenses__in.in
            h2.licenses__title.title.title_h2 Лицензии и дипломы

        ul.licenses__list
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")
            li.licenses__item
                a.licenses__link(href="assets/images/content/placeholder.png")
                    .licenses__image
                        img(src="assets/images/content/diploma-image.png", alt="")